# Admin login (set your own username and strong password)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=FJGw-J.HJ:ud1724!

# Session secret (random string for signing cookies)
SESSION_SECRET=your_random_session_secret_here

# Whop Platform – get from https://whop.com/dashboard → Developer settings
WHOP_API_KEY=apik_zVzx0QtQjMjnP_C4429048_C_d99d1b8a33291f429da3f4116e284c68cc80a493d047fed93d795795e619e1
WHOP_PARENT_COMPANY_ID=biz_xxxxxxxxxxxxx

# Optional
# PORT=3001
